html, body{
  width: 100%;
  font-size: 100%;
  color:#333;
  background-color: #9a9a9a;
  font-family: sans-serif;
  line-height: 1.4;
}

*{
  box-sizing: border-box;
}

header, 
main, 
.main,
footer{
  width: 100%;
  max-width: 50rem;
  margin: auto;
  background-color: #f3f3f3;
  padding: 0.6rem 1rem;
}

h1{
  font-size: 2.4rem;
  text-align: center;
  margin: 0 0 1.4rem;
}

p{
  margin-bottom: 1rem;
}


small{
  font-size: 0.8em;
}

.legal{
  text-align:right;
}